  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-large">Learn more</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <div class="well">
        <h2>Admin</h2>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h2>Manager</h2>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h2>Associate</h2>
      </div>
    </div>
  </div>
